#box{
  display: table;
  clear: both;
}

#column1{
  float: left;
}

#column2{
    float: left;
    
}
#column3{
    padding-left: 2px;
    
}

#productColumn{
    text-align: center;
    padding-left: 2px;
    width: 470px;
}
#column4{
    float: left;

}
input[type=text] {
  border: 2px solid darkgrey;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: lightblue;
}

  
